# Kafka
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=GUEUXRPP2XA7BLET
sasl.password=3NqH58kH7h2dJch7YTrJgKl/x6ij9pPQS0O4LteoLzmj8XyRaVjZ0U3gBPW2t/Le

# Confluent Cloud Schema Registry
schema.registry.url=https://psrc-4r3n1.us-central1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info=SUGDWSQIXWPKE2VR:Hf1+XdXYdBlWl/3i5ToX+7TSHyRjDfeS03mwSg37mwigejQPdddxBdvW7LPgfouY