git+https://github.com/ig-python/ig-markets-api-python-library
pycrypto
ptvsd==4.3.2 # Required for debugging.
pytest
nose
pandas
requests
requests-cache
munch
six
certifi
confluent-kafka[avro,json,protobuf]>=1.4.2